body {
    background-color: black;
    display: flex;
    align-items: center;
    height: 99vh;
    justify-content: center;
    margin: 0px;
}

/* control panel  */

.control-panel {
    background-color:gray;
    height: 600px;
    margin: 5px;
    /* display: flex; */
}

.new-game-button {
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.choose-button {
    background-color: white;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
    width: auto;
}

.x-button, .o-button, .p1-choose-button {
    height: 125px;
    width: 125px;
}

/* game board */

.game-board {
    background-color: white;
    /* height: px; */
    width: 600px;
    margin: 5px;

    /* display: flex; */
}

.game-board-top {
    background-color: white;
    height: 200px;
    width: 600px;
}

.tile-grid {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.game-tile {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-tile-head {
    height: 100px;
    width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid black;
    border-radius: 5px;
    margin-left: 20px;
    padding: 5px;
}

img {
    max-width: 100%;
}

.game-tile:hover, .x-button:hover, .o-button:hover {
    background-color: gray;
}