body {
    background-color: #AEC6CF;
    height: 99vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    max-width: 100%;
}

/* control panel  */

.control-panel {
    background-color:gray;
    width: 405px;
    margin-right: 5px;
}

.control-panel-row {
    background-color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
}

.x-button:hover, .o-button:hover, .new-game-button:hover, .clear-win-counters:hover {
    background-color: #AEC6CF;
}

.new-game-button, .clear-win-counters {
    background-color: white;
    text-align: center;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 5px;
}

.choose-starting-piece {
    width: 100px;
    margin-right: 15px;
    margin-left: 15px;
}

.x-button, .o-button {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    padding: 5px;
}

.flex-grow {
    flex-grow: 1;
}

.win-counter-box {

}

.win-counter {

}

/* game board */

.game-board {
    background-color: white;
    /* height: px; */
    width: 600px;
    margin: 5px;

    /* display: flex; */
}

.game-board-top {
    background-color: white;
    height: 200px;
    width: 600px;
}

.game-tile {
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-tile:hover {
    background-color: gray;
}

.game-tile-head {
    height: 100px;
    width: 100px;
    margin-left: 20px;
    padding: 5px;
}

.game-tile:hover {
    background-color: #AEC6CF
}

/* generic classes */

.border {
    border: 1px solid black;
    border-radius: 5px;
}

.flex {
    display: flex;
}

.flex-grow {
    flex-grow: 1;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.hide {
    display: none;
}